<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ACCOUNT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>
      <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" formControlName="email" name="email"></ion-input>
      </ion-item>
      <p *ngIf="!loginForm.controls.email.valid && submitedForm" padding-left class="form-alert">{{ 'EMAIL_EMPTY' | translate }}</p>
      
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <p *ngIf="!loginForm.controls.password.valid && submitedForm" padding-left class="form-alert">{{ 'PASSWORD_EMPTY' | translate }}</p>
      <p *ngIf="show_msgPassword" padding-left class="form-alert">{{ msgPassword }}</p>

      <ion-item>
        <ion-label>En creant un compte, j'accepte les <span class="msg-conditions" (click)="showConditions()"> conditions générales </span></ion-label>
      </ion-item>
    
      <div padding>
        <button ion-button color="primary" block >{{ 'CREATE_ACCOUNT' | translate }}</button>
      </div>
  </form>

  <div padding>
    
    <button ion-button block icon-start class="btn_facebook" (click)="signInWithFacebook()">
        <ion-icon name='logo-facebook'></ion-icon>
        {{ 'LOGIN_FACEBOOK' | translate }}
    </button>
    
    <button ion-button block icon-start class="btn_google" (click)="sigInGoogle()">
        <ion-icon name='logo-googleplus'></ion-icon>
        {{ 'LOGIN_GOOGLE' | translate }}
    </button>
  </div>
</ion-content>
